<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MySuite">

    <listeners>
        <listener class-name="org.example.selenium.MyListner"/>
    </listeners>

    <test name="ListnerTest">
        <classes>
            <class name="org.example.selenium.ListnersExamples"/>
        </classes>
    </test>

</suite>
